.sos-our-expert{
    padding-bottom: 225px;
    padding-top: 73px;
    @media #{$tab_device} {
        padding-top: 50px;
        padding-bottom: 150px;
    }
    @media #{$large_mobile} {
        padding-top: 50px;
        padding-bottom: 120px;
    }
    @media #{$small_mobile} {
        padding-top: 0px;
        padding-bottom: 110px;
    }
    @media #{$x_small_mobile} {
        padding-top: 0px;
        padding-bottom: 110px;
    }
}
.sos-single-expert{
    padding: 30px 26px 45px;
    box-shadow: 0px 20px 60px #00000009;
    border-radius: 15px;
    background-color: $white;
    @media #{$medium_device} {
        margin-bottom: 44px;
        padding: 30px 20px 35px;
    }
    @media #{$tab_device} {
        margin-bottom: 30px;
        padding: 30px 20px 35px;
    }
    @media #{$tab} {
        margin-bottom: 30px;
        padding: 30px 15px 30px;
    }
    .sos-sin-exp-img{
        min-height: 300px;
        cursor: pointer;
        @media #{$tab_device} {
            min-height: 250px;
        }
        @media #{$x_small_mobile} {
            min-height: 150px;
        }
    }
    .common_btn{
        line-height: 3.76;
        padding: 0 32px;
        &:hover{
            background-color: $white;
            color: $base_color_1;
            border-color: $base_color_1;
        }
    }
    h4{
        line-height: 1.33;
        margin: 30px 0 22px 0;
        @media #{$big_screen} {
            font-size: 22px;
        }
        @media #{$tab_device} {
            font-size: 20px;
        }
    }
}
.p-lg-20{
    padding: 0px 22px;
    @media #{$x_small_mobile} {
        padding: 0px 5px;
    }
}