//color
$white: #fff;
$black: #000;
$base_color_1: #ffa500;
$base_color_2: #142c42;
$section_bg: #6d6e72;
$text_color_1: #6d6e72;
$heading_color: #000;

$section_bg_1: #f0f3f7;
$menu_color: #fff;


$text_color_2: #4b4b4b;
$border_color: #d6d9dc;
$icon_color: #9198a4;